.container {
  display: flex;
  width: 1440px;
  gap: 25px;
  padding: 24px 20px 0;
}

.images {
  display: flex;
  gap: 15px;
}

.imgMin {
  align-self: start;
}

.imgMax {
  align-self: start;
}

.prodName {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #000;
  margin-bottom: 27px;
}

.prodPrice {
  font-size: 32px;
  font-weight: 500;
}

.inStock {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #07b118;
  margin-bottom: 37px;
}

.colorName {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-bottom: 8px;
}

.setColor {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.size {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-bottom: 8px;
}

.selectSize {
  display: flex;
  margin-bottom: 32px;
}

.sizeNumber {
  display: flex;
  gap: 8px;
  margin-right: 16px;
}

.sizeBox {
  border: 1px solid #cdcdcd;
  width: auto;
  height: 40px;
  padding: 7px 7px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-align: center;
  background: #fff;
  cursor: pointer;
}

.counter {
  display: flex;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  width: 172px;
  height: 36px;
  border-bottom: none;
}

.decCount {
  width: 60px;
  height: 36px;
  background: #fff;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  cursor: pointer;
}

.inkCount {
  width: 60px;
  height: 36px;
  background: #fff;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  cursor: pointer;
}

.count {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  width: 52px;
  height: 36px;
  text-align: center;
  padding-top: 8px;
  border-bottom: 1px solid #cdcdcd;
}

.buyBtn {
  margin-bottom: 36px;
}

.addBtn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #fff;
  background: #0b0599;
  border-radius: 5px;
  width: 276px;
  height: 52px;
  cursor: pointer;
  margin-right: 20px;
}

.buyNow {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #191919;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  width: 276px;
  height: 52px;
  background: #fff;
  cursor: pointer;
}

.firstColor {
  width: 40px;
  height: 40px;
  background: #e0b139;
  border: 1px solid #000;
  cursor: pointer;
}

.secondColor {
  width: 40px;
  height: 40px;
  background: #d9d9d9;
  border: none;
  cursor: pointer;
}

.descrTitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #000;
  margin-bottom: 20px;
}

.description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #000;
  width: 570px;
  height: 208px;
  margin-bottom: 47px;
}

.roll {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.usageTitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #000;
}

.careTitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #000;
}
