@import '../../variables';

.section {
    margin-top: clamp(0.625rem, 1.383vw + 0.193rem, 1.438rem);
    margin-bottom: clamp(0.625rem, 1.383vw + 0.193rem, 1.438rem);
    padding: clamp(0.438rem, 0.532vw + 0.271rem, 0.75rem) 0;
    background: $color-gray-350;
    font-size: clamp(0.875rem, 0.638vw + 0.676rem, 1.25rem);
    color: $color-gray-300;
    font-weight: 400;

    svg {
      fill: $color-gray-300;
      height: clamp(0.875rem, 0.638vw + 0.676rem, 1.25rem);
      flex-shrink: 0;
    }
}

.desktopContainer {
    display: flex;
    gap: 32px;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
    &::-webkit-scrollbar {
        width: 5px; 
        height: 0px;              /* ширина всей полосы прокрутки */
      }
      
      &::-webkit-scrollbar-track {
        background: $color-background;        /* цвет зоны отслеживания */
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: blue;    /* цвет бегунка */
        border-radius: 20px;       /* округлось бегунка */
        border: 3px solid $color-gray-200;  /* отступ вокруг бегунка */
      }

      @media (max-width: $screen-mobile) {
        display: none;
      }
}

.mobileContainer {
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  font-size: 11px;
  @media (max-width: $screen-mobile) {
    display: flex;
  }

  .last {
    font-size: 13px;
    text-align: center;
  }
}

.mobileActiveList {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: scroll;


  & span:last-child {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 0px; 
    height: 0px;              /* ширина всей полосы прокрутки */
  }
  
  &::-webkit-scrollbar-track {
    background: $color-background;        /* цвет зоны отслеживания */
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: blue;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 3px solid $color-gray-200;  /* отступ вокруг бегунка */
  }
}

.noWrap {
    text-overflow: break-word;
    white-space: nowrap;
}

.link {
    text-decoration: none;
    color: $color-gray-300;
}

.last {
    color: $color-blue;
}