@import '../../variables';

.container {
  margin: clamp(0.5rem, 0.745vw + 0.267rem, 0.938rem) 0;
}

.breadcrumb {
    background-color: #e3e3e26e;
    padding: 10px;
  
    a {
      text-decoration: none;
      color: #000000;
      font-family: Inter;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    .MuiBreadcrumbs-separator {
      margin-left: 8px;
      margin-right: 8px;
    }
  }


 
  