.container {
    padding: 0 5px;

    .card:first-child {
        padding-left: 5px;
    }
}


.title {
    font-size: 26px;
    font-weight: 500;
    margin: 20px 0 20px 5px
}

.card {
    max-width: 100%;
    padding-right: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.cardNew {
    //max-width: 335px;
}

.cardRow {
    margin-bottom: 30px;
    padding-right: 10px;
    text-align: center;
}

.sliderContainer {
    margin-top: 30px;
    padding: 0 10px;
    font-size: 16px;
}

.category {
    color: gray;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
}

.imageCollection {
    height: auto;
    overflow: hidden;
    width: 100%;
}

.filters {
    font-size: 32px;
    font-weight: 500;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    margin-right: 200px;
}

.cardImage {
    position: relative;
}

.selected {
    text-decoration: underline;
}

.priceContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.newPrice {
    font-size: 16px;
    margin-left: 10px;
}

.imageContainer {
    position: relative;
}

.saleLabel {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    color: #000000;
    width: 55px;
    height: 24px;
}

.strikethrough {
    text-decoration: line-through;
}

.category {
    color: gray;
    text-align: center;
    font-size: 18px;
}

.oldPrice {
    text-decoration: line-through;
    color: #787878;
}
