@import "../../variables";

.main {
  background: rgb(11, 5, 153);
  background: radial-gradient(
    circle,
    rgba(11, 5, 153, 1) 0%,
    rgba(97, 178, 228, 1) 80%
  );
  color: white;
  padding-block: 126px 131px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.defs {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.message {
  font-size: clamp(16px, 5vw, 32px);
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  margin-bottom: 48px;
  text-align: center;

  @media (max-width: $screen-mobile) {
    font-size: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

.img {
  display: flex;
  justify-content: center;

  margin-bottom: 24px;
  width: 100%;
  max-width: 684px;
}

.button {
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 400;
  font-size: clamp(16px, 4vw, 32px);
  padding: 10px 20px;
  background-color: transparent;
  color: white;

  max-width: fit-content;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
  }
}
