@import '../../variables';

.container{
    font-size: 1em;
    display: grid;
    gap: 35px 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'title price'
    'availability .'
    'color color'
    'size size'
    'add buy'
    ;
  }

  .title {
    grid-area: title;
    font-weight: 500;
    font-size: 36px;
  }

  .price {
    grid-area: price;
    font-weight: 500;
    font-size: 32px;
    justify-self: end;
  }

  .color{
    grid-area: color;
  }

  .sizeArea {
    grid-area: size;
    display: flex;
    gap: 17px;
  }

  .add{
    grid-area: add;
  }
 
  .buy{
    grid-area: buy;
  }

@media (max-width: $screen-big) {
  .container {
    gap: 30px 18px
  }
  .title {
    font-size: 32px;
  }
  .price {
    font-size: 28px;
  }
}

@media (max-width: $screen-laptop) {
  .container {
    gap: 28px 18px
  }
  .title {
    font-size: 28px;
  }
  .price {
    font-size: 24px;
  }

}

@media (max-width: $screen-tablet) {
  .container {
    gap: 24px 16px
  }
  .title {
    font-size: 24px;
  }
  .price {
    font-size: 22px;
  }
 
}

@media (max-width: $screen-mobile) {
  .container {
    gap: 22px 16px
  }
  .title {
    font-size: 20px;
  }
  .price {
    font-size: 20px;
  }
  
}

@container (max-width: 363px) {
  .add{
    font-size: 16px;
  }
 
  .buy{
    font-size: 16px;
  }
}
