# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local


pip/
.vite
.vercel
node_modules/
site_cache/
staticfiles_build/
venv/
.venv/
__pycache__/
__pycache__
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env_jenkins
tmp/
.vite/
dist/
media/
migrations/
django_debug.log

# Wrangler logs
.wrangler/
.wrangler/config.json
.wrangler/metrics.json
.wrangler/logs/
my-worker/wrangler.toml
db_backup.dump
dump.rdb
*.csv
.git/
package-lock.json
package.json
data_quality_report_*
graphviz*