asgiref
async-timeout
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django>=3.2
django-admin-interface
django-allauth
django-anymail
django-colorfield
django-cors-headers
django-email-confirm-la
django-extensions
django-filter
django-mailersend
django-mailgun-mime
django-phonenumber-field
django-redis
django-rest-knox
django-sendgrid-v5
django-storages
django-svg-image-form-field
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-yasg
idna
inflection
jmespath
jsonfield
load-dotenv
mailchimp-marketing
mailersend
mailtrap
oauthlib
packaging
phonenumbers
pillow
psycopg2-binary
pycparser
PyJWT
pymemcache
python-dateutil
python-decouple
python-dotenv
python-http-client
python-slugify
python3-openid
pytz
PyYAML
redis
requests
requests-oauthlib
s3transfer
sendgrid
sendgrid-django
six
social-auth-app-django
social-auth-core
sqlparse
starkbank-ecdsa
text-unidecode
typing-extensions
tzdata
uritemplate
urllib3
utils
webassets
whitenoise
