amqp==5.2.0
anyio==4.4.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==24.2.0
billiard==4.2.0
boto3==1.34.83
botocore==1.34.84
cairocffi==1.7.1
CairoSVG==2.7.1
celery==5.4.0
certifi==2024.7.4
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cryptography==42.0.5
cssselect2==0.7.0
defusedxml==0.8.0rc2
distlib==0.3.8
Django==4.2.15
django-admin-interface==0.28.6
django-allauth==0.63.6
django-anymail==11.0
django-appconf==1.0.6
django-colorfield==0.11.0
django-cors-headers==4.3.1
django-extensions==3.2.3
django-filter==24.2
django-imagekit==5.0.0
django-mailersend==0.2.1
django-mailgun-mime==0.1.7
django-modeltranslation==0.19.6
django-phonenumber-field==8.0.0
django-redis==5.4.0
django-rest-knox==4.2.0
django-rosetta==0.10.0
django-storages==1.14.2
django-svg-image-form-field==1.0.1
django-templated-mail==1.1.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
djoser==2.2.2
drf-spectacular==0.27.2
drf-yasg==1.21.7
exceptiongroup==1.2.2
filelock==3.15.4
flower==2.0.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
humanize==4.10.0
identify==2.6.0
idna==3.7
inflection==0.5.1
jmespath==1.0.1
jsonfield==3.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kombu==5.3.7
load-dotenv==0.1.0
mailchimp-marketing==3.0.80
mailersend==0.5.8
mailtrap==2.0.1
nodeenv==1.9.1
oauthlib==3.2.2
packaging==24.0
phonenumbers==8.13.39
pilkit==3.0
pillow==10.3.0
platformdirs==4.2.2
polib==1.2.0
pre-commit==2.21.0
prometheus-client==0.20.0
prompt-toolkit==3.0.47
psycopg2-binary==2.9.8
pycparser==2.22
PyJWT==2.8.0
pymemcache==4.0.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-http-client==3.3.7
python-slugify==8.0.4
python-telegram-bot==21.4
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.3
referencing==0.35.1
requests==2.31.0
requests-oauthlib==2.0.0
rpds-py==0.20.0
s3transfer==0.10.1
six==1.16.0
sniffio==1.3.1
social-auth-app-django==5.4.0
social-auth-core==4.5.3
sqlparse==0.5.0
starkbank-ecdsa==2.2.0
text-unidecode==1.3
tinycss2==1.3.0
tornado==6.4.1
typing-extensions==4.11.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==1.26.18
utils==1.0.2
vine==5.1.0
virtualenv==20.26.3
wcwidth==0.2.13
webassets==2.0
webencodings==0.5.1
whitenoise==6.6.0