@import '../../../variables';


.card {
    max-width: 453px;
    container-type: inline-size ;
    cursor: pointer;
    transition: .5s;
}

.imageSize {
    position: relative;
    padding-top: calc(100%*1.12);

    @container (max-width: 320px) {
        padding-top: calc(100%*0.92);
    } 
    
    .skeleton {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0
    }
}


.loading {
    filter: blur(7px);
}


  .title {
    margin-top: 10px;
    text-align: center;
    font-size: 26px;
    color: #191919;
    font-weight: 500;

    &.skeleton {
        height: 32px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    @container (max-width: 360px) {
        font-size: 24px;
        &.skeleton {
            height: 30px;
        }
    }

    @container (max-width: 320px) {
        font-size: 22px;
        &.skeleton {
            height: 26px;
        }
    }

    @container (max-width: 280px) {
        font-size: 20px;
        &.skeleton {
            height: 25px;
        }
    }
  
    @container (max-width: 240px) {
        font-size: 18px;
        &.skeleton {
            height: 21px;
        }
    }
 
    @container (max-width: 200px) {
        font-size: 16px;
        &.skeleton {
            height: 18px;
        }
    }
  }
  
.subTitle {
    margin-top: 7px;
    text-align: center;
    color: gray;
    font-size: 22px;
    font-weight: 400;

    &.skeleton {
        height: 26px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    @container (max-width: 360px) {
        font-size: 22px;
    }

    @container (max-width: 320px) {
        font-size: 20px;
        &.skeleton {
            height: 25px;
        }
    }

    @container (max-width: 280px) {
        font-size: 18px;
        &.skeleton {
            height: 21px;
        }
    }
  
    @container (max-width: 240px) {
        font-size: 16px;
        &.skeleton {
            height: 18px;
        }
    }
 
    @container (max-width: 200px) {
        font-size: 14px;
        &.skeleton {
            height: 14px;
        }
    }
  }



