@import '../../../variables';

@mixin checkboxContainer{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: clamp(0.313rem, 1.064vw - 0.02rem, 0.938rem) clamp(0.625rem, 1.064vw + 0.293rem, 1.25rem);
}


.inputsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(0.188rem, 0.213vw + 0.121rem, 0.313rem) clamp(0.5rem, 0.745vw + 0.267rem, 0.938rem) ;
}

.form {
    max-width: 690px;
    display: flex;
    flex-direction: column;
    gap: clamp(0.938rem, 0.532vw + 0.771rem, 1.25rem);
}

.anotherPersonBox {
    grid-column: span 2;
    @include checkboxContainer
}

.presentBox {
    @include checkboxContainer
}

.commentButton {
    font-size: clamp(0.75rem, 0.851vw + 0.484rem, 1.25rem);
    color: $color-blue;
    border-bottom: 1px solid transparent;
    grid-column: 2/-1;
    justify-self: start;
    transition: 0.2s;
    &:hover {
        border-color: $color-blue;
    }
}

.textArea {
    grid-column: 2/-1;
}

@media (max-width: 1000px) {
    .inputsContainer {
        grid-template-columns: 1fr;
    }

    .anotherPersonBox {
        grid-column: auto;
    }
    
}