@import '../../../variables';


.button {
    font-size: clamp(0.875rem, 0.638vw + 0.676rem, 1.25rem);
    padding: clamp(0.625rem, 1.064vw + 0.293rem, 1.25rem) 0;
    transition: .2s;

    &:hover {
        color: $color-gray-200;
    }
}