@import '../../variables';

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 22px;
}

.wrapper {
  position: relative;
  grid-column: 1/2;
  grid-row: span 2;
  overflow: auto;
  max-height: 500px;


  &::-webkit-scrollbar {
    width: 0px; 
    height: 0px              
  }
}

.imageList{
  position: absolute;
  flex-direction: column;
  display: flex;
  gap: 10px;
  top: 0;
  left: 0;
}

.previevBox{
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.imageBox {
  grid-column: span 6;
  grid-row: span 2;
  max-height: 500px;
}

.productInfo {
  grid-column: span 5;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
  container-type: inline-size;
}

.description {
  h3{ 
    font-size: clamp(16px, 2.5vw, 32px);
    font-weight: 400;
    margin-bottom: clamp(8px, 2vw, 25px);
  }

  p{
    font-size: clamp(14px, 1.5vw, 20px);
    font-weight: 400;
  }
}

.applyDropdown {
  grid-column: -1/-6;
}

.careDropdown {
  grid-column: -1/-6;
}

.controlContainer{
  display: grid;
  grid-template-areas: 
  'name price'
  'availability'
  'color'
  'size'
  'add buy'
  ;
}



.center{
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.zoomImage{
  width: 90%;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


@media (max-width: 930px) {
  .wrapper {
    height: 100px;
    grid-column: span 6;
    grid-row: 2/3;
    flex-direction: row;
  }

  .imageBox{
    grid-row: 1/2;
    max-height: none;
  }

  .imageList{
    width: auto;
    flex-direction: row;
    overflow: hidden;
  }

  .previevBox{
    width: 90px;
    height: 90px;
    display: inline;

  }

  .productInfo {
    grid-column: span 6;
  }
  .applyDropdown {
    grid-column: -1/7;
  }
  
  .careDropdown {
    grid-column: -1/7;
  }
}

@media (max-width: $screen-mobile) {
  .wrapper {
    display: none;
  }

  .imageBox {
    grid-column: 1/-1;
  }

  .productInfo {
    grid-column: 1/-1;
  }

  .applyDropdown {
    grid-column: 1/-1;
  }
  
  .careDropdown {
    grid-column: 1/-1;
  }
}



.product_section_container {
  display: flex;
  gap: 30px;
  transition: .5s;

  @media (max-width: $screen-mobile) {
    flex-wrap: wrap;
  }
}

.fetching {
  filter: blur(5px);
}