@import "../../../variables";

.wrapper {
	padding-bottom: clamp(72px, 5vw + 30px, 164px);
}

.title {
	font-size: clamp(20px, 5vw, 32px);
	text-align: center;
	margin-bottom: clamp(40px, 5vw + 10px, 115px);
}

.teamItem {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: clamp(164px, calc(30vw + 10px), 440px); 
	margin-bottom: clamp(10px, 5vw, 40px);
	transition: width 0.5s ease-in-out;

	.imageSize {
		width: 100%;
		padding-top: 115%;
		filter: grayscale(100%);
		transition:
			filter 0.3s ease,
			width 0.5s ease-in-out;

		@media (min-width: $screen-mobile) {
			&:hover {
				filter: grayscale(0%);
			}
		}
	}

	.name {
		font-size: clamp(15px, 2vw, 30px);
		padding-top: 20px;
		margin-bottom: 10px;
		text-wrap: nowrap;
	}

	.role {
		font-size: clamp(14px, 2vw, 20px);
		margin-bottom: 10px;
	}

	.experience {
		font-size: 14px;
		margin-bottom: 10px;
		height: 10px;
	}

	.description {
		font-size: 16px;
		font-weight: 400;
		color: $color-gray-200;
		height: 110px;
		margin-bottom: 5px;
		padding: 10px;

		@media (max-width: $screen-tablet) {
			font-size: 12px;
		}

		@media (max-width: $screen-mobile) {
			font-size: 10px;
		}
	}

	.links {
		display: flex;
		gap: 16px;
		justify-content: center;
	}
	.links a {
		color: $color-gray-400;
		text-decoration: none;
	}
}
