@import "../../../variables";

.container {
	display: flex;
	flex-direction: column;
	gap: clamp(40px, 10vw, 115px);
	margin-bottom: 40px;
}

.title {
	font-size: clamp(20px, 5vw, 64px);
	text-align: center;
}

.teamItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: clamp(40px, 5vw, 138px);

	.imageSize {
		width: 453px;
		height: 492px;
		padding-top: 50%;

		@media (max-width: $screen-tablet) {
			width: 253px;
			height: 300px;
		}
		@media (max-width: $screen-mobile) {
			width: 164px;
			height: 164px;
			padding-top: 0;
		}
	}

	.name {
		font-size: clamp(16px, 4vw, 32px);
		margin-bottom: 10px;
		text-wrap: nowrap;
	}

	.description {
		font-size: clamp(14px, 2vw, 32px);
		font-weight: 400;
		color: $color-gray-200;
		margin-bottom: clamp(10px, 3vw, 63px);
		text-align: center;
		height: 300px;
		padding: 6px;

		@media (max-width: $screen-mobile) {
			font-size: 14px;
			height: 150px;
		}
	}

	.links {
		display: flex;
		gap: 16px;
		justify-content: center;
	}
	.links a {
		color: $color-gray-400;
		text-decoration: none;
	}
}
