@import '../../variables';

.titleContainer {
  padding: 100px;
}

.name {
  color: $color-blue;
}

.description {
  font-size: 36px;
  text-align: center;

  @media (max-width: $screen-mobile) {
    font-size: 28px;
  }
}

.generalContainer {
  display: flex;

  @media (max-width: $screen-mobile) {
    display: inline;
  }
}

.contactScontainer {

  font-weight: 400;
  flex: 0 0 30%;

  h3 {
    color: $color-blue;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;

    @media (max-width: $screen-mobile) {
      font-size: 28px;
    }
  }

  p {
    font-size: 24px;
    line-height: 2.2;

    @media (max-width: $screen-mobile) {
      font-size: 22px;
    }
  }

  .subTitle {
    color: #080599;
  }
}

.formContainer {
  flex: 1;
  margin-left: 20px;

  h2 {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;

    @media (max-width: $screen-mobile) {
      font-size: 28px;
    }
  }

  @media (max-width: $screen-mobile) {
    margin-top: 30px;
  }
}

.frame {
  padding: 35px 60px;
  border: 2px solid #A8A8A8;
  border-radius: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: $screen-mobile) {
    padding: 30px 50px 30px 50px;
  }
}

.sendButton {
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 150px;
  margin-top: 25px;
}