.sliderContainer {
    padding: 0 10px;
    margin: 70px 0;
}

.filters {
    font-size: 26px;
    font-weight: 500;
    display: flex;
    margin-bottom: 30px;
}

.card {
    padding-right: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    position: relative;
}

.cardImage {
    /*width: 100%;*/
    position: relative;
}

.imageContainer {
    //height: 230px;
    overflow: hidden;
    position: relative;
}

.image {
    width: 100%;
    height: auto;
}

.cardImage .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.name {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

.filters {
    //width: fit-content;
    font-size: 26px;
    display: flex;
    align-items: center;
    position: relative;
    gap: clamp(5px, 3vw, 17px);
    text-decoration: none;
    color: var(--gray-500);
    justify-content: space-between;
    margin-right: 200px;

    p {
        position: relative;
        cursor: pointer;

        &::after {
            content: "";
            width: 100%;
            border-bottom: 2px solid transparent;
            position: absolute;
            bottom: -5px;
            left: 0;
            opacity: 0;
            transition: opacity 400ms ease, border-color 300ms ease; // Добавляем переход для изменения цвета и прозрачности
        }

        &:hover::after {
            opacity: 0.5;
            border-color: var(--blue); // Изменяем цвет на ваш синий
        }
    }

    .selected {
        //font-weight: 600;
        font-size: 26px;

        &::after {
            content: "";
            width: 100%;
            border-bottom: 1px solid var(--blue); // Применяем подчеркивание
            position: absolute;
            bottom: -5px;
            left: 0;
            opacity: 1; // Отображаем подчеркивание по умолчанию
        }
    }
}

.priceContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 18px;
}

.price {
    margin-right: 10px;
    color: #787878;
}

.saleLabel {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    color: #000000;
    width: 55px;
    height: 24px;
    text-align: center;
}

.strikethrough {
    text-decoration: line-through;
}

.category {
    color: gray;
    text-align: center;
    font-size: 18px;
}


@media screen and (max-width: 1000px) {
    .filters{
        font-size: 26px;
    }

    .sliderContainer {
        margin-top: 50px;     }

    .title {
        font-size: 26px;     }

    .card{
        font-size: 16px;
    }

    .price {
        font-size: 16px;
    }

    .newPrice {
        font-size: 16px;

    }

    .filters {
        margin-right: 10px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 700px) {
    .filters{
        font-size: 22px;
    }

    .card{
        text-align: center;
    }

    .priceContainer {
        display: inherit;
        margin-top: 5px;
    }

    .price {
        margin-right: 0px;
        font-size: 14px;
    }

    .newPrice {
        font-size: 14px;
    }
}
