@import "../../../variables";

.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  padding: 0;

  font-family: "Capriola", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
  text-align: left;
  color: $color-black;
}

@media screen and (min-width: $screen-big) {
  .container {
    gap: 24px;
    margin: 49px 0 0 0;
  }

  .section {
    font-size: 24px;
    line-height: 1.33em;
  }

  .section:last-child {
    margin-bottom: 82px;
  }

  .text {
    margin-top: 24px;
  }
}
