@import '../../../variables';

$gap: clamp(0.625rem, 1.277vw + 0.226rem, 1.375rem);


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(0.75rem, 2.128vw + 0.085rem, 2rem);
    max-width: 1017px;
    box-shadow: 0px 0px 25px 7px rgba(0,0,0,0.25);
    border-radius: 5px;
    text-align: center;
}

.title {
    font-size: clamp(1.5rem, 1.277vw + 1.101rem, 2.25rem);
    font-weight: 400;
    margin-bottom: $gap;
}

.p {
    font-size: clamp(0.875rem, 0.426vw + 0.742rem, 1.125rem);
}

.image {
    max-width: clamp(9.375rem, 15.957vw + 4.388rem, 18.75rem);
    width: 100%;
}

.check {
    font-size: clamp(0.875rem, 0.426vw + 0.742rem, 1.125rem);
    color: $color-blue;
    margin-bottom: $gap;
}

.text {

   font-size: clamp(0.875rem, 0.426vw + 0.742rem, 1.125rem);
   span {
    color: $color-blue;
   }
}

.link {
    color: $color-blue;
    font-size: clamp(0.875rem, 0.851vw + 0.609rem, 1.375rem);
    margin: 20px 0;
}

.telegramContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px; /* Add some space above the Telegram container */
}

.telegramIcon {
    color: #0088cc; /* Telegram blue color */
}
.KOLORYT_notifications_bot {
    color: #0088cc; /* Telegram blue color */
    text-decoration: none;
    font-weight: bold;
}

.KOLORYT_notifications_bot:hover {
    text-decoration: underline;
}