@import "../../variables";

.section {
	font-size: clamp(12px, 3vw, 18px);
	line-height: 1.5;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: clamp(5px, 3vw, 40px);
}

.content {
	position: relative;
	max-width: 600px;
	margin-top: clamp(45px, 5vw + 10px, 90px);
	margin-bottom: clamp(30px, 5vw + 10px, 70px);

	@media (max-width: 375px) {
		max-width: 100%;
	}

	@media (max-width: 500px) {
		max-width: 320px;
	}

	@media (min-width: 500px) and (max-width: 740px) {
		max-width: 380px;
	}
}

.vase {
	position: absolute;
	right: 0;
	top: 0;
	max-width: 80%;
	opacity: 0.9;
	height: auto;
	z-index: -1;
	transform: translate(0, 0);

	@media (max-width: 374.98px) {
		display: none;
	}

	@media (min-width: 375px) and (max-width: 499.98px) {
		max-width: 65%;
		transform: translate(20px, -30px);
	}

	@media (min-width: 500px) and (max-width: 740.98px) {
		transform: translate(50px, -50px);
	}

	@media (min-width: 741px) and (max-width: 800px) {
		max-width: 70%;
		transform: translate(50px, -50px);
	}

	@media (min-width: 801px) {
		transform: translate(90px, -90px);
	}
}

.blue {
	color: var(--blue);
	font-size: clamp(20px, 5vw, 30px);
}

.link {
	color: var(--blue);
	transition: 0.3s color;

	@media (min-width: $screen-mobile) {
		margin-bottom: 60px;
	}

	&:hover {
		border-bottom: 1px solid var(--blue);
	}
}
