.sliderContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.slider {
  margin-right: 20px;
  max-width: 650px; /* Додано для обмеження ширини великої картинки */
}

.thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.thumbnail {
  margin-bottom: 10px;
}

.thumbnail img {
  width: 80px;
  height: auto;
}

.slick-dots {
  display: none; /* Ховаємо стандартні точки слайдера */
}
