.sliderContainer {
  display: table;
  width: 100%;
}
.slick-slider {
  display: flex;
  flex-direction: row-reverse;
}
.slider {
  display: table-cell;
  max-width: 650px;
}

.slick-dots {
  display: none;
}

.slider img {
  max-width: 100%;
  height: auto;
}
