@import '../../variables';

.title {
    text-align: center;
    color: $color-blue;
    font-weight: medium;
    font-size: clamp(1.125rem, 0.638vw + 0.926rem, 1.5rem);
    margin-bottom: clamp(0.938rem, 1.064vw + 0.605rem, 1.563rem);

}

.orderSection {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: $screen-mobile) {
        .preview {
            display: none;
        }
    }
}

.formContainer {
    flex-grow: 1;
}



