@import "../../../variables";

.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  text-align: left;

  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.57px;
  text-align: left;

  color: $color-black;
}

.section:last-child {
  display: none;
}

.text {
  margin-top: 12px;
}

.customTitle {
  div {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;

    color: #0b0599;
  }

  span {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    margin-top: 12px;
    text-align: left;
  }

  p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }
}

@media screen and (min-width: $screen-big) {
  .container {
    gap: 24px;
    margin: 49px 0 0 0;
  }

  .section {
    font-size: 24px;
    line-height: 1.5em;
  }

  .section:last-child {
    display: flex;
    color: #787878;
    margin-top: 62px;
    margin-bottom: 82px;
  }

  .text {
    margin-top: 24px;
  }

  .customTitle {
    h1 {
      font-size: 32px;
      font-weight: 500;
      line-height: 43.57px;
    }

    span {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 24px;
    }

    p {
      line-height: 26px;
    }
  }
}
