@import '../../variables';



.slider {

    &.disabled :global(.slick-slide) {
        pointer-events: none;
    }

    & :global(.slick-slide) {
        padding: 0 10px;
    };

    & :global(.slick-list) {
        margin: 0 -10px;
    }
}
