
@import '../../../variables';

.container {
    // border: 1px solid black;
    display: flex;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.image {
    max-width: 156px;
    align-self: self-start;
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-weight: 400;
    gap: 10px;

    h4 {
        font-size: 20px;
        font-weight: 500;
    }
}

.counterBox {
    display: flex;
    gap: 20px
}

.control {
    display: flex;
    justify-content: space-between;
}

.icon {
    svg {
        fill: $color-button
    }
}

.selfTop {
    align-self: flex-start;
}