@import "../../../variables";

.container {
	display: flex;
	flex-direction: column;
	gap: 128px;
	padding-bottom: clamp(60px, 8vw, 128px);

	@media (max-width: $screen-mobile) {
		gap: 40px;
	}
}

.title {
	font-size: clamp(20px, 5vw, 64px);
	line-height: clamp(20px, 10vw, 105px);
	text-align: center;
	margin-top: clamp(50px, 7vw, 100px);
}

.imageSize {
	width: 335px;
	height: 191px;
	padding-top: 50%;

	@media (max-width: $screen-tablet) {
		width: 196px;
		height: 117px;
		padding-top: 27%;
	}

	@media (max-width: $screen-mobile) {
		width: 74px;
		height: 47px;
		padding-top: 0;
	}
}

.imageWrapper {
	padding-bottom: clamp(32px, 5vw, 64px);
}
