@import '../../../variables';

.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid $color-button;
    padding: 2px 5px;
    border-radius: 5px;
}