@import '../../../variables';

.button {
    border: 1px solid $color-gray-100;
    font-weight: 500;
    font-size: 24px;
    padding: 11px;
    border-radius: 5px;
    background: transparent;
    transition: .2s;

    &:hover {
        background-color: darken($color: $color-background, $amount: 10);
    }

    &:disabled {
        background-color: $color-gray-200;
    }

    @media (max-width: $screen-big) {
        font-size: 22px;
    }
    
    @media (max-width: $screen-laptop) {
        font-size: 20px;
        padding: 10px;
    }
   
    @media (max-width: $screen-tablet) {
        font-size: 18px;
        padding: 9px;
    }
 
    @media (max-width: $screen-mobile) {
        font-size: 16px;
        padding: 8px;
    }
}

.blue {
    background-color: $color-button;
    color: $color-background;
    border-color: $color-button;

    &:hover {
        background-color: darken($color: $color-button, $amount: 10);
    }
}

.black {
    background-color: $color-black;
    color: $color-background;
    background-color: $color-black;
    &:hover {
        background-color: lighten($color: $color-black, $amount: 20);
    }

    &:disabled {
        background-color: $color-gray-300;
    }
}

