{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Koloryt</title>
    
    <!-- Android -->
    <link rel="icon" sizes="192x192" href="{% static 'android-chrome-192x192.png' %}" />
    <link rel="icon" sizes="512x512" href="{% static 'android-chrome-512x512.png' %}" />

    <!-- Apple -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}" />

    <!-- Web browsers -->
    <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script src="{% static 'main.js' %}"></script>
</body>

</html>
