@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables';


:root {
  --container-max-width: min(1440px, 95%);
  --header-mobile-view-width: 1000px;
  --blue: #0f0fff;
  --gray-500: #191919;
  --gray: #CDCDCD;
  --screen-big: 1440px;
  --screen-laptop: 1366px;
  --screen-tablet: 1280px;
  --screen-mobile: 740px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: var(--gray-500);
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: $color-black;
}

*::-webkit-scrollbar {
  width: 5px;               /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
  background: $color-background;        /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
  background-color: blue;    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
  border: 3px solid $color-gray-200;  /* отступ вокруг бегунка */
}