.sliderContainer {
    margin-top: 70px;
    padding: 0 10px;
}

.title {
    font-size: 32px;
    font-weight: 500;
    margin: 20px 0 20px 5px
}

.card:first-child {
    padding-left: 5px;
}

.card {
    font-size: 18px;
    text-align: center;
}

.cardImage {
    padding-right: 5px;
}

.name {
    margin-top: 15px;
}

.image {
    max-width: 100%;
}

.price {
    margin-top: 10px;
    color: #787878;
    margin-bottom: 10px;
}


@media screen and (max-width: 600px) {
    .sliderContainer {
        margin-top: 30px; /* Пример изменения свойства только для мобильных экранов */
    }

    .title {
        font-size: 26px; /* Пример изменения свойства только для мобильных экранов */
    }

    .card{
        font-size: 16px;
    }

    .price {
        margin-top: 5px;
    }
}

.list {
    margin-left: -10px;
}
.item {
    margin-left: 10px;
}












