@import '../../variables';

.container {
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(10px);
    background: #00000066;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.box {
    padding: clamp(0.938rem, 0.532vw + 0.771rem, 1.25rem);
    position: absolute;
    display: flex;
    gap: 8px;
    flex-direction: column;
    right: 0;
    width: 473px;
    max-width: 90vw;
    height: 92%;
    background-color: $color-background;
    border-radius: 0 0 0 10px;
}

.header {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.endline {
    justify-content: end;
}

.titleContainer {
    position: relative;
}

.title {
    font-size: clamp(1rem, 0.851vw + 0.734rem, 1.5rem);
    font-weight: 500;
}

.counter {
    color: $color-blue;
    position: absolute;
    top: -1px;
    right: -1px;
    transform: translateX(100%);
    font-size: clamp(0.5rem, 0.3vw + 0.4rem, 0.75rem); /* уменьшено значение */
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll ;
    overflow-x: hidden ;
    gap: 30px;
}

.center {
    justify-content: center;
    align-items: center;
}

.totalPrice {
    display: flex;
    justify-content: space-between;
    //font-size: clamp(1rem, 0vw + 1rem, 1rem);
    font-weight: 400;
    font-size: 20px;
}

.actions{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    font-weight: 500;
}

.item {
    border: 1px solid black;
    height: 100px;
}

.control {
    font-weight: 400;
}

.noBorder {
    border: none;
    color: $color-border;
}