@import "../../variables";

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	padding: clamp(8px, 3vw, 20px) 0 clamp(24px, 3vw, 40px) 0;
	padding-left: clamp(20px, 5vw, 75px);
	font-size: clamp(16px, 2vw + 8px, 32px);
}

.container {
	display: flex;
	gap: clamp(20px, 5vw + 10px, 130px);
	align-items: center;
	margin-bottom: clamp(40px, 5vw + 10px, 80px);
	border-top: 1px solid $color-black;
	border-bottom: 1px solid $color-black;
	padding: 90px 150px 90px 150px;

	@media (max-width: $screen-mobile) {
		padding: 40px 20px 12px 20px;
	}
}

.content1 {
	@media (max-width: $screen-mobile) {
		flex-direction: column-reverse;
	}
}

.content2 {
	@media (max-width: $screen-mobile) {
		flex-direction: column;
	}
}

.content3 {
	margin-bottom: clamp(60px, 10vw + 30px, 140px);

	@media (max-width: $screen-mobile) {
		flex-direction: column-reverse;
	}
}

.text {
	font-family: "Capriola", sans-serif;
	font-size: clamp(16px, 5vw, 22px);
	line-height: clamp(26px, 3vw + 13px, 55px);
	text-align: center;
	font-weight: 400;

	@media (max-width: $screen-mobile) {
		font-size: 16px;
	}
}

.img {
	width: clamp(200px, 50%, 514px);
	height: auto;

	@media (max-width: $screen-mobile) {
		width: 267px;
	}
}

.blue {
	color: $color-blue;
}
