@import "../../variables";

.wrapper {
	display: flex;
	flex-direction: column;
}

.linkContainer {
	padding-top: clamp(24px, 4vw, 56px);
	padding-left: clamp(19px, 2vw, 21px);
	padding-bottom: clamp(24px, 3vw, 40px);
}

.link {
	display: block;
	text-decoration: none;
	font-size: clamp(16px, 2vw + 8px, 36px);
	color: $color-black;
	white-space: nowrap;
	width: 142px;

	&:hover {
		text-decoration: underline;
		text-decoration-color: blue;
	}

	@media (max-width: $screen-mobile) {
		width: 70px;
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: clamp(40px, 5vw, 64px);
	border-top: 1px solid $color-black;
	border-bottom: 1px solid $color-black;
}

.content1 {
	padding: 90px 60px 90px 98px;
	gap: 55px;

	@media (max-width: $screen-mobile) {
		flex-direction: column-reverse;
		padding: 40px 16px 12px 16px;
		gap: 5px;
	}
}

.content2 {
	padding: 117px 32px 118px 32px;
	gap: 70px;

	@media (max-width: $screen-mobile) {
		flex-direction: column;
		padding: 40px 15px 0px 17px;
		gap: 19px;
	}
}

.content3 {
	padding: 90px 60px 90px 32px;
	gap: 52px;

	@media (max-width: $screen-mobile) {
		flex-direction: column-reverse;
		padding: 40px 17px 0px 16px;
		gap: 0px;
	}
}

.text {
	font-family: "Capriola", sans-serif;
	font-size: clamp(16px, 3vw, 32px);
	line-height: clamp(26px, 3vw + 13px, 55px);
	text-align: center;
	font-weight: 400;
}

.img {
	width: clamp(200px, 50%, 514px);
	height: auto;

	@media (max-width: $screen-mobile) {
		width: 267px;
	}
}

.blueText {
	color: $color-blue;
}
