@import "../../variables";

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	padding-top: clamp(8px, 3vw, 20px);
	padding-bottom: clamp(24px, 3vw, 40px);
	font-size: clamp(16px, 2vw + 8px, 36px);
}

.container {
	display: flex;
	align-items: center;
	margin-bottom: clamp(40px, 5vw + 10px, 80px);
	border-top: 1px solid $color-black;
	border-bottom: 1px solid $color-black;
}

.content1 {
	padding: 90px 60px 90px 98px;
	gap: 55px;

	@media (max-width: $screen-mobile) {
		flex-direction: column-reverse;
		padding: 40px 16px 12px 16px;
		gap: 5px;
	}
}

.content2 {
	padding: 117px 32px 118px 32px;
	gap: 70px;

	@media (max-width: $screen-mobile) {
		flex-direction: column;
		padding: 40px 15px 0px 17px;
		gap: 19px;
	}
}

.content3 {
	padding: 90px 60px 90px 32px;
	gap: 52px;
	margin-bottom: clamp(60px, 10vw + 30px, 164px);

	@media (max-width: $screen-mobile) {
		flex-direction: column-reverse;
		padding: 40px 17px 0px 16px;
		gap: 0px;
	}
}

.text {
	font-family: "Capriola", sans-serif;
	font-size: clamp(16px, 3vw, 32px);
	line-height: clamp(26px, 3vw + 13px, 55px);
	text-align: center;
	font-weight: 400;
}

.img {
	width: clamp(200px, 50%, 514px);
	height: auto;

	@media (max-width: $screen-mobile) {
		width: 267px;
	}
}

.blue {
	color: $color-blue;
}
