@import "../../../../variables";

@mixin disabled-button-styles {
	cursor: not-allowed;
	color: $color-gray-500;
	border: none;
	background-color: $color-gray-200;
}

.container {
	font-size: 1em;
	display: grid;
	gap: clamp(0.938rem, 2.128vw + 0.273rem, 2.188rem) clamp(16px, 2vw, 24px);
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"title price"
		"availability ."
		"color color"
		"size size"
		"add buy";
}

.title {
	grid-area: title;
	font-weight: 500;
	font-size: clamp(20px, 2.5vw, 36px);
}

.title_skeleton {
	height: clamp(20px, 2.5vw, 36px);
}

.price {
	position: relative;
	grid-area: price;
	font-weight: 500;
	font-size: clamp(20px, 2.5vw, 32px);
	justify-self: end;
	align-self: start;
}

.price_skeleton {
	height: clamp(20px, 2.5vw, 32px);
	max-width: 200px;
	width: 100%;
}



.color {
	grid-area: color;
}

.sizeArea {
	grid-area: size;
	display: flex;
	gap: 17px;
}

.add {
	grid-area: add;
	&[disabled] {
		@include disabled-button-styles;
	}
}

.buy {
	grid-area: buy;
	&[disabled] {
		@include disabled-button-styles;
	}
}

@container (max-width: 363px) {
	.add,
	.buy {
		font-size: 16px;
		&[disabled] {
			@include disabled-button-styles;
		}
	}
}

.counter {
	align-self: flex-end;
}

.discount {
	text-align: end;
	position: absolute;
	bottom: -2px;
	right: 0;
	text-decoration: line-through;
	color: $color-gray-200;
	font-size: 0.8em;
	transform: translateY(90%);
}

.button_skeleton {
	height: clamp(1.875rem, 1.596vw + 1.376rem, 2.813rem);
}