@import '../../variables';

.container {
    font-size: clamp(0.875rem, 0.638vw + 0.676rem, 1.25rem);
    font-weight: 400;
    border: 1px solid $color-gray-100;
    border-radius: 7px;
    padding: clamp(0.5rem, 0.213vw + 0.434rem, 0.625rem);
    text-align: center;
}