@import '../../variables';

.header {
    padding: 46px;
    margin-bottom: 24px;
    position: relative;
    border-bottom: 1px solid $color-button;
}

.container {
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
}

.logo {
    flex-shrink: 2;
}

.control {
    display: flex;
    gap: 30px;
}

@media (max-width: $screen-mobile) {
    .header {
        padding: 20px;
        margin-bottom: 33px;

    }

    .container {
        gap: 25px;
    }
}

.headerButton {
    svg {
        width: 30px;
        height: 30px;
    }
}


