@import '../../variables';

.header {
    position: relative;
    border-bottom: 1px solid $color-button;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: clamp(0.75rem, 0.426vw + 0.617rem, 1rem);
    padding-bottom: clamp(0.75rem, 0.426vw + 0.617rem, 1rem);
}

.logo {
    flex-shrink: 2;
    max-width: clamp(8.125rem, 7.447vw + 5.798rem, 12.5rem);
}

.control {
    display: flex;
    gap: 30px;
}

@media (max-width: $screen-mobile) {
    .container {
        gap: 25px;
    }
}

.headerButton {
    svg {
        width: 30px;
        height: 30px;
    }
}


