@import '../../variables';

.header {
    position: relative;
    border-bottom: 1px solid $color-button;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: clamp(0.75rem, 0.426vw + 0.617rem, 1rem);
    padding-bottom: clamp(0.75rem, 0.426vw + 0.617rem, 1rem);
}

.logo {
    flex-shrink: 2;
    max-width: clamp(8.125rem, 7.447vw + 5.798rem, 12.5rem);
}

.control {
    display: flex;
    gap: 30px;
}

@media (max-width: $screen-mobile) {
    .container {
        gap: 25px;
    }
}

.headerButton {
    svg {
        width: 30px;
        height: 30px;
    }
}


.languageSwitcher {
    position: relative;
}

.dropdownButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.dropdownMenu button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

.dropdownMenu button:hover {
    background-color: #f0f0f0;
}
