@import '../../../variables';

.button {
    position: relative;
    transition: .2s;
    &:hover {
        scale: 1.1;
    }
    &:disabled {
        background: gray;
        border-radius: 50%;
    }
}

.badge {
    position: absolute;
    left: calc(100% - 5px);
    top: -4px;
}